@model IEnumerable<Cafe.Models.NhanVien>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<style>
    /* Định dạng cho phần download file */
a.btn.btn-primary {
    background-color: #D2B48C; /* Màu nâu đậm */
    color: #fff; /* Màu chữ trắng */
    padding: 8px 15px; /* Để tạo khoảng cách xung quanh nút */
    border-radius: 5px; /* Để làm cong góc cho nút */
    text-decoration: none; /* Loại bỏ gạch chân (underline) */
}

a.btn.btn-primary:hover {
    background-color: #FFF8DC; /* Màu nền khi di chuột qua */
    color: #D2B48C; /* Màu chữ khi di chuột qua */
}
Bạn có thể th
    /* Đổi màu nền và màu chữ của link */
a {
    color: #FF4500; /* Màu cam đậm */
}

/* Đổi màu nền của button upload */
input[type="submit"] {
    background-color:  #654321; /* Màu vàng */
    color:#fff /* Màu chữ đen */
}
    /* Định dạng bảng */
    .table {
        width: 100%;
        border-collapse: collapse;
        border: 2px solid #000; /* Viền đen đậm cho bảng */
    }

    /* Định dạng header của bảng */
    .table th {
        background-color: #654321; /* Màu nâu */
        color: #fff; /* Màu chữ trắng */
        text-align: left;
        padding: 10px;
        border-bottom: 2px solid #000; /* Đường viền dưới header đậm hơn */
    }

    /* Định dạng dòng trong bảng */
    .table td {
        border-bottom: 1px solid #000; /* Đường viền dưới mỗi dòng màu đen */
        padding: 10px;
        border-right: 1px solid #000; /* Viền kẻ giữa các cột */
    }

    /* Định dạng link trong cột thao tác */
    .table td a {
        margin-right: 5px;
        text-decoration: none;
        color: #007bff;
    }

    .table td a:hover {
        text-decoration: underline;
    }

    /* Loại bỏ viền kẻ phía bên phải của cột cuối cùng */
    .table td:last-child {
        border-right: none;
    }
</style>

<h1>Index</h1>
<hr />
    <form asp-action="Upload" enctype="multipart/form-data">
        <div class="row form-control">
            <label class="col-sm-2">Import data from Excel:</label>
            <input type="file" name="file" class="col-sm-4">
            <input type="submit" value="Upload" class="btn btn-primary">
        </div>
    </form>
<hr
>
<p>
    <a asp-action="Create">Create New</a>
    <a class="btn btn-primary" asp-action="Download">Download file</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NhanVienName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVienName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NhanVienID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NhanVienID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NhanVienID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@using (Html.BeginForm("Index", "NhanVien", FormMethod.Get, new { id="form1"})){
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page,
            pageSize= ViewBag.psize}), 
            new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, 
            PageClasses = new string[] { "page-link" }})
        </div>
        <div class="col-md-1">
            @Html.DropDownList("pagesize", null, new {@class="form-select"})
        </div>
    </div>

}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#pagesize").change(function(){
            $("#form1").submit();
        });
    });
</script>
