@model IEnumerable<Cafe.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<style>
    /* Định dạng bảng */
    .table {
        width: 100%;
        border-collapse: collapse;
        border: 2px solid #000; /* Viền đen đậm cho bảng */
    }

    /* Định dạng header của bảng */
    .table th {
        background-color: #654321; /* Màu nâu */
        color: #fff; /* Màu chữ trắng */
        text-align: left;
        padding: 10px;
        border-bottom: 2px solid #000; /* Đường viền dưới header đậm hơn */
    }

    /* Định dạng dòng trong bảng */
    .table td {
        border-bottom: 1px solid #000; /* Đường viền dưới mỗi dòng màu đen */
        padding: 10px;
        border-right: 1px solid #000; /* Viền kẻ giữa các cột */
    }

    /* Định dạng link trong cột thao tác */
    .table td a {
        margin-right: 5px;
        text-decoration: none;
        color: #007bff;
    }

    .table td a:hover {
        text-decoration: underline;
    }

    /* Loại bỏ viền kẻ phía bên phải của cột cuối cùng */
    .table td:last-child {
        border-right: none;
    }
</style>

<h1>Quản lý danh sách nhân viên</h1>


<p>
    
    <a asp-action="Create" class="w3-btn w3-border w3-border-brown w3-round w3-tiny w3-horver-brown">+ Thêm mới</a>
    <a asp-action="Download" class="w3-btn w3-border w3-border-brown w3-round w3-right w3-tiny w3-horver-brown fa fa-download"> Xuất ra file excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NhanVienName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVienName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NhanVienID" class="w3-button w3-green w3-round-large w3-small"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.NhanVienID" class="w3-button w3-green w3-round-large w3-small"><i class="fa fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.NhanVienID" class="w3-button w3-red w3-round-large w3-small"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>